altgraph==0.17.4
blinker==1.8.2
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
construct==2.10.68
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.2
pefile==2023.2.7
pygame==2.5.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pyusb==1.2.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.6.0
urllib3==2.2.3
usb==0.0.83.dev0
Werkzeug==3.0.3
